*{
    margin: 0;
    padding: 0;
}
body{
    font-family: arial,sans-serif;
    font-size: 15px;
}

h1{
    font-family: 'Crete Round',serif;
    font-size: 45px;
    color: #444;
}
ul{
    list-style: none;
    
}
a{
    text-decoration: none;
    color: #444;
    font-weight: bold;
    
}
.w1{
    width: 940px;
    margin: 0 auto ;
    padding: 0 10px;
    

}

/* HEADER*/

 header{
    height: 120px;
 }
 header h1{
    float: left;
    margin-top: 30px;
    
 }
 header nav{
    float: right ;
    margin-top: 50px;
 }
 header nav ul li {
   display: inline-block;

 }
 header nav ul li a {
    margin-left: 20px;
    
 }
 header nav ul li a:hover{
    color: orangered;
 }
 
 /* Main image */ 
 #main-img{
    height: 580px;
    background:  url('js2.png') center;
 }

h3{
   font-size: 30px; 
   color: #444;
}








 #contact{
    padding: 60px 0px;
    text-align: center;
 }
 #contact h3{
    width: 400px;
  margin: 0px auto 20px auto ;
  border-bottom: 1px solid cyan;
  padding-bottom: 20px;
 }
 form
 {
    margin: 60px 0 20px 0 ;
 }
 label{
    font-weight: bold;
    font-size: 20px;
    margin-right: 10px;
    color: #777;

 }
section div form input{
    padding:10px;
    font-size: 20px;
    margin-right:20px;
    border: 2px solid #ddd;
    border-radius: 3px;
}
.but3{
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    padding: 11px;
    background-color: cyan;
    border-style: none;
}
.but3:hover{
    color: #fff;
    border-color: #444;

}
section div h3{
    color: white;
}
